header {
    width: 960px;
    margin: 10px auto;
}

a, div {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    float: left;
    width: 30%;
    _margin-bottom: 10px;
}

header a {
    float: right;
    margin-top: 15px;
    text-decoration: none;
    color: #777777
}

#aboutlink {
    margin-right: 30px;
}

#contactlink {
    margin-right: 30px;
}

#maincontent {
    clear: both;
    background-color: #cccccc;
    padding: 20px;
}

#maincontent::after  {
    content: "";
    display: block;
    clear: both;
  }

#mainsection {
    width: 960px;
    margin: 0px auto;
    background-color: white;
    height: 300px;
}

#mainsection::after  {
    content: "";
    display: block;
    clear: both;
  }

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 20px;
    color: #4aaaa5;
    font-size: 25px;
}

#biopic {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

footer {
    clear: both;
}